
    <h1 id="user-guide">User guide</h1>
<p><code>oereb_client</code> (OeREB Client) is a web application for the for the Swiss
<a href="https://www.cadastre.ch/en/oereb.html">“Cadastre of Public-law Restrictions on landownership”</a>
(PLR-cadastre).</p>
<p>It is wrapped into a
<a href="http://docs.pylonsproject.org/projects/pyramid/en/latest/">Pyramid</a>
plugin and consumes the JSON extract according to the PLR-cadastre
specification. This way, it can be used as front-end for the
<a href="https://openoereb.github.io/pyramid_oereb/doc/">pyramid_oereb</a> library
with just a few additional configuration steps.</p>

