@import "../../oereb_client.scss";

table.oereb-client-legend {
  font-size: 0.75em;

  th {
    font-style: oblique;
    font-weight: normal;
  }

  td.oereb-client-legend-text {
    padding-top: 0.4em;
  }

  td.oereb-client-symbol-cell {
    width: $symbol-width + 1em;
  }

  img.oereb-client-symbol {
    border: none;
    width: $symbol-width;
    height: $symbol-height;
  }
}
