@import "../../oereb_client.scss";

div.oereb-client-extract {
    position: fixed;
    top: 0;
    left: 0;
    padding-top: $header-height;
    width: $menu-with;
    background-color: $menu-background-color;
    box-shadow: $default-shadow;
    transition: height linear $animation-duration;
    padding-bottom: 1em;

    .category:not(.show) {
        border: 0px;
    }
}

div.hidden {
    height: $header-height;
}

div.loading, div.error {
    max-height: 100%;
}

div.data {
    height: 100%;

    & > div.accordion {
        overflow-y: scroll;

        button.accordion-button:focus,
        button.accordion-button:not(.collapsed) {
            box-shadow: none;
        }
    }
}