@import "../../oereb_client.scss";

div.oereb-client-extract-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: $menu-with;
    background-color: $menu-background-color;
    box-shadow: $default-shadow;
    overflow: hidden;
    transition: height $animation-duration linear;

    div.oereb-client-extract {
        width: 100%;
        height: 100%;
        padding-top: $header-height;
        padding-bottom: 1em;
        overflow: hidden;
    }
    
    div.oereb-client-extract.data {
        .category:not(.show) {
            border: 0px;
        }
    
        & > div.accordion {
            overflow-y: scroll;
    
            button.accordion-button:focus,
            button.accordion-button:not(.collapsed) {
                box-shadow: none;
            }
        }
    }
}

div.oereb-client-extract-wrapper.hidden {
    height: $header-height;
}

div.oereb-client-extract-wrapper.loading {
    height: $header-height + 100px;
}

div.oereb-client-extract-wrapper.shown {
    height: 100%;
}
