/**
 * Main style definitions
 */

@import "bootstrap";

@import "variables";
@import "map";
@import "search";
@import "logos";
@import "information-panel";
@import "general-information";
@import "extract";
@import "extract-menu";
@import "static-extract";
@import "error";
@import "loading-indicator";
@import "map-query";
@import "real-estate";
@import "concerned-theme";
@import "topic";
@import "legend";
@import "legal-documents";
@import "responsible-offices";
@import "history";
@import "expand-extract";

html, body {
  position: relative;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  // color: $text-color;
}

.no-padding {
  padding: 0;
}

.sup {
  position: relative;
  bottom: 1ex;
  font-size: 70%;
}

.no-wrap {
  white-space: nowrap;
}

.no-left-margin {
  margin-left: -1px;
}

.no-left-border {
  border-left-width: 0;
}

.btn-group > .btn ~ .btn {
  margin-left: -1px;
}

.tooltip-inner {
  white-space: nowrap;
  max-width: none;
}

blockquote {
  font-size: small;
}

h4, dt {
  font-size: medium;
}
