/.vscode/
/oereb_client.egg-info
/node_modules/
/npm-debug.log
/.cache/
/.pytest_cache/
/.venv/
/dist/
/build/
/.coverage
/.jest-coverage/
/.coverage.*
/oereb_client/static/lib/
/oereb_client/static/css/
/oereb_client/static/fonts/
/oereb_client/static/build/
/docs/build/
/.storybook/oereb_client.json
__pycache__
