include *.rst
recursive-include oereb_client/static/build *.js *.css *.txt *.woff *.woff2
recursive-include oereb_client/static/i18n *.json
recursive-include oereb_client/static/images *.png *.jpg *.svg
recursive-include oereb_client/templates *.html *.json
