html,
body,
#wrapper {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

#wrapper {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: flex-start;
}

#sidebar {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    font-family: "Lato","proxima-nova","Helvetica Neue",Arial,sans-serif;;
}

#header {
    background-color: #2980B9;
    width: 300px;
    padding: 15px 25px;
    color: #ffffff;
    text-align: center;
    font-size: 16px;
}

#nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: stretch;
    padding-left: 1px;
    padding-right: 1px;
    background-color: #2980B9;
}

#nav a {
    flex: 1;
    display: block;
    text-align: center;
    text-decoration: none;
    padding: 15px;
    color: #ffffff;
    background-color: #9b9b9b;
    margin-top: 1px;
    margin-left: 1px;
    margin-right: 1px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}

#nav a.active, #nav a:hover {
    flex: 1;
    display: block;
    text-align: center;
    text-decoration: none;
    padding: 15px;
    color: #ffffff;
    background-color: #5e5e5e;
}

#menu {
    flex: 1;
    width: 300px;
    padding: 15px 25px;
    overflow-y: auto;
    background-color: #5e5e5e;
    color: #ffffff;
}

#menu a {
    color: #dddddd;
}

#menu h6 {
    font-weight: bold;
    text-transform: uppercase;
}

#menu ol {
    padding-left: 15px;
}

#content {
    flex: 1;
    overflow-y: scroll;
    background-color: rgba(0,0,0,0.05);
}

#content .container-fluid {
    max-width: 800px;
    margin: 0;
    background-color: #fcfcfc;
    padding: 15px 25px;
}

#logo {
    border: none;
    max-width: 250px;
    float: right;
    margin-bottom: 15px;
}

table.definition-table td,
table.definition-table th {
    padding: 5px;
}
table.definition-table td p {
    margin: 0;
}

table.variables-matrix td,
table.variables-matrix th {
    padding: 5px;
}
table.variables-matrix td p {
    margin: 0;
}
table.variables-matrix td a,
table.variables-matrix td a:hover,
table.variables-matrix td a:active,
table.variables-matrix td a:visited,
table.variables-matrix td a:focus {
    color: #000000;
}

ol.naked-list,
ul.methods,
div.usage ul {
    list-style: none;
    padding: 0;
}
ol.naked-list li {
    font-style: italic;
}
div.usage ul li pre {
    margin-top: 5px;
}

blockquote {
    font-size: unset;
    color: #777777;
    background-color: rgba(199, 37, 78, 0.1);
    border-left-color: #c7254e;
}
