html,
body,
#wrapper {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    padding-top: 50px;
}

#wrapper {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: flex-start;
}

#menu {
    width: 300px;
    padding: 15px 25px;
    overflow-y: auto;
    background-color: #5e5e5e;
    color: #ffffff;
}

#menu a {
    color: #dddddd;
}

#content {
    padding: 15px;
    overflow-y: auto;
}

#logo {
    position: fixed;
    top: 65px;
    right: 15px;
    border: none;
    max-width: 250px;
}

table.definition-table td,
table.definition-table th {
    padding: 5px;
}
table.definition-table td p {
    margin: 0;
}

table.variables-matrix td,
table.variables-matrix th {
    padding: 5px;
}
table.variables-matrix td p {
    margin: 0;
}
table.variables-matrix td a,
table.variables-matrix td a:hover,
table.variables-matrix td a:active,
table.variables-matrix td a:visited,
table.variables-matrix td a:focus {
    color: #000000;
}

ol.naked-list,
ul.methods,
div.usage ul {
    list-style: none;
    padding: 0;
}
ol.naked-list li {
    font-style: italic;
}
div.usage ul li pre {
    margin-top: 5px;
}