<!DOCTYPE html>
<html lang="de" ng-app="oereb" ng-controller="MainController as ctrl">
    <head>
        <title>ÖREB-Kataster, Kanton Basel-Landschaft</title>
        <meta charset="utf-8">
        <meta name="viewport" content="initial-scale=1.0, user-scalable=no, width=device-width">
        % if debug:
            <link rel="stylesheet" href="${request.static_url('oereb_client:../node_modules/openlayers/dist/ol-debug.css')}" type="text/css">
            <link rel="stylesheet" href="${request.static_url('oereb_client:static/css/oereb.css')}" type="text/css">
        % else:
            <link rel="stylesheet" href="${request.static_url('oereb_client:static/build/oereb.min.css')}" type="text/css">
        % endif
    </head>
    <body>

        <div id="map"></div>

        <oereb-map-query id="map-query"></oereb-map-query>

        <div id="extract" ng-class="{active: ctrl.extractActive}">
            <div class="container-fluid extract-wrapper">
                <span class="close extract-close" ng-click="ctrl.extractActive=false">&times;</span>
                <oereb-real-estate></oereb-real-estate>
            </div>
        </div>

        <div id="search">
            <img class="logo-oereb" src="${request.static_url('oereb_client:static/images/logo_oereb.png')}">
            <img class="logo-bl" src="${request.static_url('oereb_client:static/images/logo_bl.png')}">
            <div class="clearfix"></div>
            <div class="container-fluid">
                <input type="text" class="form-control" placeholder="Suche" ng-model="ctrl.searchText" />
            </div>
        </div>

    % if debug:
        <script src="${request.static_url('oereb_client:../node_modules/jquery/jquery.js')}"></script>
        <script src="${request.static_url('oereb_client:../node_modules/angular/angular.js')}"></script>
        <script src="${request.static_url('oereb_client:../node_modules/angular-animate/angular-animate.js')}"></script>
        <script src="${request.static_url('oereb_client:../node_modules/openlayers/dist/ol-debug.js')}"></script>
        <script src="${request.static_url('oereb_client:../node_modules/proj4/dist/proj4-src.js')}"></script>
        <script src="${request.static_url('oereb_client:../node_modules/google-closure-library/closure/goog/base.js')}"></script>
        <script src="${request.route_url('{0}/deps.js'.format(request.route_prefix))}"></script>
        <script>
            goog.require('oereb_client');
        </script>
    % else:
        <script src="${request.static_url('oereb_client:static/lib/jquery.min.js')}"></script>
        <script src="${request.static_url('oereb_client:static/lib/angular.min.js')}"></script>
        <script src="${request.static_url('oereb_client:static/lib/angular-animate.min.js')}"></script>
        <script src="${request.static_url('oereb_client:static/lib/ol.js')}"></script>
        <script src="${request.static_url('oereb_client:static/lib/proj4.js')}"></script>
        <script src="${request.static_url('oereb_client:static/build/oereb.min.js')}"></script>
    % endif
    <script>
        "use strict";

        (function() {

            var module = angular.module('oereb');
            module.constant('oerebApplicationUrl', '${request.application_url}');
            module.constant('oerebBaseLayerConfig', '${base_layer_config | n}');

        })();

    </script>

    </body>
</html>