<!DOCTYPE html>
<html lang="de" ng-app="oereb" ng-controller="MainController as ctrl">
    <head>
        <title>ÖREB-Kataster, Kanton Basel-Landschaft</title>
        <meta charset="utf-8">
        <meta name="viewport" content="initial-scale=1.0, user-scalable=no, width=device-width">
        % if debug:
            <link rel="stylesheet" href="${request.static_url('oereb_client:../node_modules/openlayers/dist/ol-debug.css')}" type="text/css">
            <link rel="stylesheet" href="${request.static_url('oereb_client:static/css/oereb.css')}" type="text/css">
        % else:
            <link rel="stylesheet" href="${request.static_url('oereb_client:static/build/oereb.min.css')}" type="text/css">
        % endif
    </head>
    <body>

        <div id="map"></div>

        <oereb-map-query id="map-query"></oereb-map-query>

        <oereb-information-panel
                id="information"
                ng-class="{'active': ctrl.informationActive, 'extract': ctrl.extractActive, 'loading': ctrl.loading}"
                information-active="ctrl.informationActive">
        </oereb-information-panel>

        <div id="extract" ng-class="{'active': ctrl.extractActive, 'information': ctrl.informationActive, 'loading': ctrl.loading}">
            <div class="container-fluid extract-wrapper">
                <span class="close extract-close" ng-click="ctrl.closeExtract()">&times;</span>
                <oereb-extract-menu class="pull-left" perma-link="ctrl.permaLink"></oereb-extract-menu>
                <div class="clearfix"></div>
                <oereb-real-estate></oereb-real-estate>
                <oereb-concerned-theme toggled-group="ctrl.toggledGroup"></oereb-concerned-theme>
                <oereb-not-concerned-theme toggled-group="ctrl.toggledGroup"></oereb-not-concerned-theme>
                <oereb-theme-without-data toggled-group="ctrl.toggledGroup"></oereb-theme-without-data>
                <div class="panel panel-default">
                    <div class="panel-heading information-panel" role="button" ng-click="ctrl.toggleInformation()">
                        <h4 class="panel-title">
                            Allgemeine und rechtliche Informationen
                            <span class="badge pull-right">
                                <span class="fa fa-fw" ng-class="{'fa-chevron-right': !ctrl.informationActive, 'fa-chevron-left': ctrl.informationActive}"></span>
                            </span>
                        </h4>
                    </div>
                </div>
            </div>
        </div>

        <div id="loading-indicator"
             class="container-fluid text-center"
             ng-class="{'loading': ctrl.loading}">
            <h4><i class="fa fa-spinner fa-pulse"></i> Auszug wird generiert...</h4>
        </div>

        <oereb-search id="search"></oereb-search>

        <div id="modal-permalink" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
          <div class="modal-dialog modal-sm" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">
                            &times;
                        </span>
                    </button>
                    <h4 class="modal-title" id="myModalLabel">Permalink</h4>
                </div>
                <div class="modal-body">
                    <input type="text" class="form-control" ng-model="ctrl.permaLink">
                </div>
          </div>
        </div>

    % if debug:
        <script src="${request.static_url('oereb_client:../node_modules/jquery/jquery.js')}"></script>
        <script src="${request.static_url('oereb_client:../node_modules/bootstrap/dist/js/bootstrap.js')}"></script>
        <script src="${request.static_url('oereb_client:../node_modules/angular/angular.js')}"></script>
        <script src="${request.static_url('oereb_client:../node_modules/angular-animate/angular-animate.js')}"></script>
        <script src="${request.static_url('oereb_client:../node_modules/openlayers/dist/ol-debug.js')}"></script>
        <script src="${request.static_url('oereb_client:../node_modules/proj4/dist/proj4-src.js')}"></script>
        <script src="${request.static_url('oereb_client:../node_modules/google-closure-library/closure/goog/base.js')}"></script>
        <script src="${request.route_url('{0}/deps.js'.format(request.route_prefix))}"></script>
        <script>
            goog.require('oereb_client');
        </script>
    % else:
        <script src="${request.static_url('oereb_client:static/lib/jquery.min.js')}"></script>
        <script src="${request.static_url('oereb_client:static/lib/bootstrap.min.js')}"></script>
        <script src="${request.static_url('oereb_client:static/lib/angular.min.js')}"></script>
        <script src="${request.static_url('oereb_client:static/lib/angular-animate.min.js')}"></script>
        <script src="${request.static_url('oereb_client:static/lib/ol.js')}"></script>
        <script src="${request.static_url('oereb_client:static/lib/proj4.js')}"></script>
        <script src="${request.static_url('oereb_client:static/build/oereb.min.js')}"></script>
    % endif
    <script>
        "use strict";

        (function() {

            var module = angular.module('oereb');
            module.constant('oerebApplicationUrl', '${request.application_url}');
            module.constant('oerebBaseLayerConfig', '${base_layer_config | n}');
            module.constant('searchServiceConfig', '${search_api_config | n}');
            module.constant('geoViewConfig', '${geo_view_config | n}');
            module.constant('wfsFilterServiceUrl', '${request.route_url('{0}/wfs_filter'.format(request.route_prefix))}');
            module.constant('oerebLogoURL', '${request.static_url('oereb_client:static/images/logo_oereb.png')}');
            module.constant('blLogoUrl', '${request.static_url('oereb_client:static/images/logo_bl.png')}');
            module.constant('oerebDefaultLanguage', 'de');
        })();

    </script>

    </body>
</html>