@import "../../oereb_client.scss";

$map-query-shadow: $default-shadow;
$map-query-loader-size: 34px;
$map-query-loader-bg: #fff;
$map-query-content-bg: $map-query-loader-bg;
$map-query-content-width: 250px;
$map-query-icon-color: #f00;
$map-query-icon-line-width: 4px;

.oereb-client-overlay {
  position: absolute;
  overflow: visible;

  div.loader {
    width: $map-query-loader-size;
    height: $map-query-loader-size;
    border-radius: 50%;
    background-color: $map-query-loader-bg;
    box-shadow: $map-query-shadow;

    .spinner-grow {
      width: $map-query-loader-size !important;
      height: $map-query-loader-size !important;
    }
  }

  div.results {
    div.background-icon {
      position: absolute;
      z-index: 1;
      width: $map-query-loader-size;
      height: $map-query-loader-size;
      border-radius: 50%;
      background-color: $map-query-loader-bg;
      box-shadow: $map-query-shadow;
    }

    div.content {
      position: absolute;
      z-index: 2;
      margin-top: $map-query-loader-size/2;
      margin-left: $map-query-loader-size/2;
      background-color: $map-query-loader-bg;
      box-shadow: $map-query-shadow;
      width: $map-query-content-width;

      button.list-group-item {
        padding-left: $map-query-loader-size/2 + 15px;
        padding-right: 10px;
        padding-top: 3px;
        padding-bottom: 3px;
      }
    }

    div.icon {
      position: absolute;
      z-index: 3;
      width: $map-query-loader-size;
      height: $map-query-loader-size;
      border-radius: 50%;
      background-color: transparent;

      div.icon-outer {
        position: relative;
        width: $map-query-loader-size;
        height: $map-query-loader-size;
        border-style: solid;
        border-width: $map-query-icon-line-width;
        border-color: $map-query-icon-color;
        border-radius: $map-query-loader-size/2;
        background-color: $map-query-loader-bg;

        div.icon-inner {
          position: relative;
          background-color: $map-query-icon-color;
          border-radius: ($map-query-loader-size - 4*$map-query-icon-line-width) / 2;
          width: $map-query-loader-size - 4*$map-query-icon-line-width;
          height: $map-query-loader-size - 4*$map-query-icon-line-width;
          top: $map-query-icon-line-width;
          left: $map-query-icon-line-width;
        }
      }
    }
  }
}
