/*
 * Styling for the legend directive
 */

@import "variables";

.legend {
  padding: 0;
  table {
    margin-bottom: 0;
    thead {
      td {
        padding-bottom: 0;
      }
    }
  }
  .symbol {
    border: 1px solid @symbol-border-color;
    width: @symbol-width;
    height: @symbol-height;
  }
  .full-legend {
    margin: 0;
    img {
      max-width: 100%;
    }
  }
}