/**
 * Main style definitions
 */

@import "./../../../node_modules/bootstrap/less/bootstrap";
@import "./../../../node_modules/font-awesome/less/font-awesome";

@import "variables";
@import "map";
@import "search";
@import "logos";
@import "information-panel";
@import "general-information";
@import "extract";
@import "extract-menu";
@import "static-extract";
@import "error";
@import "loading-indicator";
@import "map-query";
@import "real-estate";
@import "concerned-theme";
@import "topic";
@import "legend";
@import "legal-documents";
@import "responsible-offices";
@import "history";
@import "expand-extract";

html, body {
  position: relative;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  color: @text-color;
}

.no-padding {
  padding: 0;
}

.sup {
  position: relative;
  bottom: 1ex;
  font-size: 70%;
}

.no-wrap {
  white-space: nowrap;
}

.btn-group > .btn ~ .btn {
  margin-left: -1px;
}
