/**
 * Global variable definitions
 */

@border-radius-base: 0px;
@border-radius-large: 0px;
@border-radius-small: 0px;

@text-color: #000000;
@link-color: #205c90;
@link-hover-color: #ff0000;

@brand-primary: #919BA4;
@panel-default-border: @brand-primary;
@input-border: @brand-primary;
@input-border-focus: @link-color;
@well-bg: @panel-default-heading-bg;
@well-border: @panel-default-border;

@animation-duration: 0.5s;

@default-padding: 10px;
@logo-padding: @default-padding;

@default-shadow: 3px 3px 5px #777777;

// Left menu bar
@menu-with: 500px;
@menu-background-color: #ffffff;
@menu-shadow: @default-shadow;
@header-height: 130px;

// Information panel
@info-background: #ffffff;
@info-padding: @default-padding;
@dl-horizontal-offset: 300px;

// Map query
@map-query-shadow: @default-shadow;
@map-query-loader-size: 34px;
@map-query-loader-bg: #ffffff;
@map-query-content-bg: @map-query-loader-bg;
@map-query-content-width: 250px;
@map-query-icon-color: #ff0000;
@map-query-icon-line-width: 4px;

// Legend
@symbol-border-color: #000000;
@symbol-width: 2em;
@symbol-height: 1em;
