/**
 * Global variable definitions
 */

@border-radius-base:        0px;
@border-radius-large:       0px;
@border-radius-small:       0px;

@text-color:                #000000;
@link-color:                #ff0000;

@animation-duration:        0.5s;

@default-padding:           10px;
@logo-padding:              @default-padding;

// Left menu bar
@menu-with:                 500px;
@menu-background-color:     #ffffff;
@menu-shadow:               3px 3px 5px #808080;
@header-height:             130px;
