/**
 * Global variable definitions
 */

@border-radius-base: 0px;
@border-radius-large: 0px;
@border-radius-small: 0px;

@text-color: #000000;
@link-color: #205c90;
@link-hover-color: #ff0000;

// Colors
@brand-primary: #919BA4;
@panel-default-border: @brand-primary;
@btn-default-border: @brand-primary;
@input-border: @brand-primary;
@input-border-focus: @link-color;
@well-bg: @panel-default-heading-bg;
@well-border: @panel-default-border;
@dropdown-border: @panel-default-border;
@dropdown-link-color: @text-color;
@dropdown-link-hover-bg: @panel-default-heading-bg;
@blockquote-border-color: @panel-default-heading-bg;

@animation-duration: 0.5s;

@default-padding: 10px;
@logo-padding: @default-padding;

@default-shadow: 3px 3px 5px #777777;

// Left menu bar
@menu-with: 500px;
@menu-background-color: #ffffff;
@menu-shadow: @default-shadow;
@header-height: 130px;

// Information panel
@info-background: #ffffff;
@info-padding: @default-padding;
@dl-horizontal-offset: 300px;
@image-max-height: 100px;
@info-default-margin: 20px;

// Map query
@map-query-shadow: @default-shadow;
@map-query-loader-size: 34px;
@map-query-loader-bg: #ffffff;
@map-query-content-bg: @map-query-loader-bg;
@map-query-content-width: 250px;
@map-query-icon-color: #ff0000;
@map-query-icon-line-width: 4px;

// Legend
@symbol-border-color: #000000;
@symbol-width: 2em;
@symbol-height: 1em;

// Loading indicator
@loading-indicator-height: 60px;

// Range input
@track-color: @table-border-color;
@thumb-color: transparent;

@thumb-radius: 8px;
@thumb-height: 16px;
@thumb-width: 16px;
@thumb-shadow-size: 1px;
@thumb-shadow-blur: 1px;
@thumb-shadow-color: @table-border-color;
@thumb-border-width: 3px;
@thumb-border-color: #ff0000;

@track-width: 100%;
@track-height: 4px;
@track-shadow-size: 0;
@track-shadow-blur: 0;
@track-shadow-color: @table-border-color;
@track-border-width: 0;
@track-border-color: @table-border-color;

@track-radius: 0;
@contrast: 5%;
