<div class="btn-group extract-menu" role="group">
    <button type="button" class="btn btn-default" title="Permalink" data-toggle="tooltip"
            data-placement="right" ng-click="providePermalink()">
        <i class="fa fa-link" aria-hidden="true"></i>
    </button>
    <button class="btn btn-default" type="button" title="zu GeoView BL wechseln" data-toggle="tooltip"
            data-placement="right" ng-click="goToGeoView()">
        <i class="fa fa-map-o" aria-hidden="true"></i>
    </button>
    <oereb-static-extract></oereb-static-extract>
</div>
