<div class="container-fluid legal-documents">
    <dl>
        <dt ng-if="data['LegalProvisions'].length > 0">Rechtsvorschriften</dt>
        <dd ng-repeat="legalProvision in data['LegalProvisions']">
            <span>
                {{legalProvision['Title'] | multilingualText}}
                <span ng-if="legalProvision['OfficialNumber']">({{legalProvision['OfficialNumber']}})</span>
            </span>
            <span ng-repeat="artNumber in legalProvision['ArticleNumber']">
                &nbsp;<span class="label label-primary">{{artNumber}}</span>
            </span>
            <ul>
                <li ng-repeat="link in legalProvision['TextAtWeb']">
                    <small>
                        <a ng-href="{{link | multilingualText}}" target="_blank">
                            {{link | multilingualText}}
                        </a>
                    </small>
                </li>
            </ul>
        </dd>
        <dt ng-if="data['Documents'].length > 0">Gesetzliche Grundlagen</dt>
        <dd ng-repeat="document in data['Documents']">
            <span>
                {{document['Title'] | multilingualText}}
                <span ng-if="document['OfficialNumber']">
                    ({{document['OfficialNumber']}})
                </span>
            </span>
            <span ng-repeat="artNumber in document['ArticleNumber']">
                &nbsp;<span class="label label-primary">{{artNumber}}</span>
            </span>
            <ul>
                <li ng-repeat="link in document['TextAtWeb']">
                    <small>
                        <a ng-href="{{link | multilingualText}}" target="_blank">
                            {{link | multilingualText}}
                        </a>
                    </small>
                </li>
            </ul>
        </dd>
    </dl>
</div>