<div>
    <button
            type="button"
            class="btn btn-default dropdown-toggle"
            data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false">
        <i class="fa fa-cog"></i>
        <span class="caret"></span>
    </button>
    <ul class="dropdown-menu">
        <li>
            <a href="#" ng-click="showAvailability = !showAvailability">
                <span class="fa fa-fw" ng-class="{'fa-check': showAvailability}"></span>
                verfügbare Gemeinden anzeigen
            </a>
        </li>
        <li>
            <a href="#" ng-click="showSymbolZoom = !showSymbolZoom">
                <span class="fa fa-fw" ng-class="{'fa-check': showSymbolZoom}"></span>
                Legendensymbole vergr&ouml;ssern
            </a>
        </li>
    </ul>
</div>
