/**
 * Map and Openlayers styling
 */

@import "ol/ol.css";
@import "bootstrap/scss/bootstrap.scss";
@import "../../oereb_client.scss";

.oereb-client-map {
  position: absolute;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

.ol-zoom {
  visibility: hidden;
}

.ol-scale-bar {
  transition: left $animation-duration linear;
}

.ol-rotate {
  border: 0;
  background-color: transparent;
  top: calc($header-height + 0.5em);

  button {
    border: 0 !important;
    background-color: #fff;
    color: #f00 !important;
    font-size: 2em !important;
    border-radius: 1em !important;
  }

  button:hover {
    color: #fff !important;
    border: 0 !important;
    background-color: #6c757d !important;
  }
}

@include media-breakpoint-up(xl) {
  .ol-rotate {
    top: 0.5em;
  }
}

.ol-control,
.ol-attribution.ol-uncollapsible {
  border-radius: 0;
}

.ol-control {
  button,
  button:hover,
  button:focus {
    border-radius: 0;
    color: $secondary;
    border: 1px solid $secondary;
    background-color: $white;

    .ol-attribution-expand,
    .ol-attribution-collapse {
      color: $secondary;
      background-color: none;
    }
  }
}
