@import "../../oereb_client.scss";

div.oereb-client-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: $menu-with;
    max-width: 100%;
    height: $header-height;
    background-color: $menu-background-color;
    box-shadow: $default-shadow;

    img.logo-oereb,
    img.logo-app {
        position: relative;
        border: none;
        width: 45%;
        max-width: 300px;
        padding-top: $logo-padding;
        padding-bottom: $logo-padding;
    }

    img.logo-oereb {
        float: left;
        padding-left: $logo-padding;
    }

    img.logo-app {
        float: right;
        padding-right: $logo-padding;
    }
}